    <div class="card mb-4">
        <div>{{this.name}}</div>
        <div>{{this.code}}</div>
        <div><img src="{{this.image}}" alt=""></div>
        <div>{{this.money}}</div>
        <div>{{this.description}}</div>
    </div>